<div class="py-10">
  <h1 class="my-10 text-4xl font-extrabold text-center">Raices
    <span class="font-normal">Sueños</span></h1>
  <h2 class="text-center text-2xl font-extrabold">Inicia Sesión</h2>
  {{#if errors}}
    <div class="max-w-md mx-auto my-10">
      {{#each errors}}
        <p
          class="bg-red-600 text-white uppercase font-bold text-xs p-2 rounded text-center mb-1"
        >{{msg}}</p>
      {{/each}}
    </div>
  {{/if}}
  <div class="mt-8 mx-auto max-w-md bg-white py-8 px-4 shadow">
    <form class="space-y-5" action="/auth/login" method="POST" novalidate>

      <div>
        <label
          class="block text-sm uppercase text-gray-500 mb-3 font-bold"
          for="email"
        >Tu Email:</label>
        <input
          class="w-full py-2 px-3 border border-gray-300 rounded-md placeholder-gray-400"
          type="email"
          id="email"
          placeholder="Tu email"
          name="email"
          value="{{old.email}}"
        />
      </div>
      <div>
        <label
          class="block text-sm uppercase text-gray-500 mb-3 font-bold"
          for="password"
        >Tu password:</label>
        <input
          class="w-full py-2 px-3 border border-gray-300 rounded-md placeholder-gray-400"
          type="password"
          id="password"
          placeholder="Tu password"
          name="password"
        />
      </div>

      <div class="flex justify-between items-center text-xs text-gray-500">
        <a class="hover:text-red-900 hover:font-bold" href="/auth/register">¿No
          tienes cuenta? Regístrate</a>
        <a class="hover:text-red-900 hover:font-bold" href="/auth/forget">Olvidé mi
          password</a>
      </div>
      <input
        class="w-full mt-4 py-3 px-3 border bg-indigo-500 text-white hover:bg-indigo-700 rounded-md cursor-pointer uppercase font-bold"
        type="submit"
        value="Iniciar sesión"
      />

    </form>

  </div>

</div>