<header class="container-fluid">
    <div class="container mx-auto flex justify-between items-center">


        {{#if barra}}
        <nav class="h-20 w-full bg-cyan-800 text-white text-sm md:flex md:items-center font-bold hidden md:justify-end">

            <a class="h-full w-32 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white" href="/property/index">Mis Propiedades</a>
            <a class="h-full w-32 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white" href="#">Mis Perfil</a>
            <a href="/auth/logout" class="h-full w-32 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white " href="#" class="bg-cyan-800 py-2 px-10 rounded-lg">Cerrar Sesión</a>

        </nav>

        {{else}}
        <nav
            class="bg-cyan-800 h-20 w-full text-sm md:flex md:items-center  font-bold text-white hidden ">
            <a class=" h-full w-28 text-white uppercase font-bold text-xs text-center hover:text-white hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white active:bg-green-500"
                href="/">Inicio</a>
            <a class=" h-full w-24 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white"
                href="/about">Quienes Somos</a>
            <a class=" h-full w-24 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white"
                href="/auth/login">Inicio Sesión</a>
            <a class=" h-full w-24 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white"
                href="/auth/register">Registrarse</a>
            <a class=" h-full w-24 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white"
                href="/property/index">Propiedades</a>
            <a class=" h-full w-24 text-white uppercase font-bold text-xs text-center  hover:bg-green-500 flex justify-center items-center hover:font-bold border-l-2 border-white"
                href="/contact">Contacto</a>
        </nav>

        {{/if}}
    </div>
</header>
