<header class="pt-4 container-fluid">
    <div class="container mx-auto justify-between md:flex items-center px-4">

        <div>
            <a href="/api"><img class="w-64" src="/images/logotipo.svg" alt="Logotipo"></a>
        </div>
        <div class="md:flex gap-10">
            <div class="flex gap-5">
                <img class="icon" src="/icons/phone.png" alt="">
                <div>
                    <p>Dudas o consultas</p>
                    <p>0800-000-000</p>
                </div>
            </div>
            <div class="flex gap-5">
                <img class="icon" src="/icons/phone.png" alt="">
                <div>
                    <p>Horario Laboral</p>
                    <p>Lun - Vie: 9:00 - 18:00 / Sa: 9:00 - 14:00</p>
                </div>
            </div>
        </div>

    </div>
</header>