<div class="bg-cyan-900 mt-1 py-5 w-full flex justify-around">
    {{#each category}}
    <div><a href="/property/category/{{this.id}}" class="text-sm font-bold uppercase text-white w-full">{{this.name}}</a></div>
    {{/each}}
</div>