<div class="bg-slate-200 w-full h-10 px-4 py-2 text-white">
    <div class="container mx-auto flex justify-between items-center text-slate-600">
        <p>Bienvenidos a Espacio Inversión</p>
        <div>
            <a href="https://www.facebook.com/" target="_blank" class="text-sm">Facebook</a>
             <a href="https://www.facebook.com/" target="_blank" class="text-sm">Facebook</a>
        </div>

    </div>

</div>