<div class="py-10 text-center text-2xl font-extrabold">
<h1 class="text-4xl">404</h1>
    <p class="text-center text-2xl font-extrabold">Página no encontrada</p>

    <p class="text-center text-xl my-10">La página que buscas no existe</p>

    <a class="bg-red-600 text-white uppercase font-bold text-xs p-2 rounded text-center mb-1" href="/">Volver</a>

</div>